/*202211389 최준규*/
*{
    margin:0px;
    padding:0px;
}
li{
    list-style:none;
}
body{
    font-family:'Times New Roman',serif;
    width:960px;
    margin:0 auto;
}
a{
    text-decoration:none;
}
img{
    border:0px;
}
header{
    width:960px;
    height:150px;
    background-color:#fcdceb;
    position:relative;
}
#title{
    font-family: 'Bilbo Swash Caps', cursive;
    width:300px;
    height:100px;
    position:absolute;
    top:25px;
    right:100px;
    font-size:40px;
    font-weight:bold;
    text-align:right;
    line-height:100px;
}

nav{
    width:660px;
    height:80px;
    padding:0 50px;
    background-color:#1c1a1f;
    text-align:center;
}
#main{
    width:660px;
    height:420px;
    padding:50px;
    background-color:#ecebed;
}
section{
    float:left;
}
aside{
    float:left;
    position:relative;
    width:200px;
    height:600px;
    background-color:#c5becc;
}
#quick_menu{
    width:100px;
    height:180px;
    padding:10px;
    background-color:rgb(256,256,256,0.4);
    position:absolute;
    top:200px;
    left:40px;
    border-radius:15px;
    text-align:center;
}
footer{
    color:white;
    clear:left;
    width:960px;height:100px;
    background-color: #051526;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    line-height:100px;
}
.menu_item{
    font-size:25px;
    height:80px;
    color:white;
    text-align:center;
    line-height:80px;
    padding:0 70px;
    display:inline-block;
    height:80px;
}
.story{
    width:620px;
    height:380px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    border-radius:15px;
    padding:20px;
    font-size:50px;
    margin: auto;
}
.qmenu{
    display:inline-block;
    width:100px;
    height: 60px;
    text-align:center;
    line-height:60px;
}
input:nth-of-type(1){display:none;}
input:nth-of-type(1)~section>div#main>.story:nth-of-type(1){display:none;}
input:nth-of-type(1)~section>nav>.menu_item:nth-of-type(1){background-color:black;color: white;}
input:nth-of-type(1):checked~section>div#main>.story:nth-of-type(1){display:block;}
input:nth-of-type(1):checked~section>nav>.menu_item:nth-of-type(1){background-color:#ecebed;color: #1c1a1f;}
input:nth-of-type(2){display:none;}
input:nth-of-type(2)~section>div#main>.story:nth-of-type(2){display:none;}
input:nth-of-type(2)~section>nav>.menu_item:nth-of-type(2){background-color:black;color: white;}
input:nth-of-type(2):checked~section>div#main>.story:nth-of-type(2){display:block;}
input:nth-of-type(2):checked~section>nav>.menu_item:nth-of-type(2){background-color:#ecebed; color:#1c1a1f;}
input:nth-of-type(3){display:none;}
input:nth-of-type(3)~section>div#main>.story:nth-of-type(3){display:none;}
input:nth-of-type(3)~section>nav>.menu_item:nth-of-type(3){background-color:black;color: white;}
input:nth-of-type(3):checked~section>div#main>.story:nth-of-type(3){display:block;}
input:nth-of-type(3):checked~section>nav>.menu_item:nth-of-type(3){background-color:#ecebed;color:#1c1a1f;}

input:nth-of-type(4){display:none;}
input:nth-of-type(4)~section>div#main>.story:nth-of-type(1){display:none;}
input:nth-of-type(4)~aside>#quick_menu>.qmenu:nth-of-type(1){color:black;}
input:nth-of-type(4):checked~section>div#main>.story:nth-of-type(1){display:block;}
input:nth-of-type(4):checked~aside>#quick_menu>.qmenu:nth-of-type(1){color:red;}
input:nth-of-type(5){display:none;}
input:nth-of-type(5)~section>div#main>.story:nth-of-type(2){display:none;}
input:nth-of-type(5)~aside>#quick_menu>.qmenu:nth-of-type(2){color:black;}
input:nth-of-type(5):checked~section>div#main>.story:nth-of-type(2){display:block;}
input:nth-of-type(5):checked~aside>#quick_menu>.qmenu:nth-of-type(2){color:red;}
input:nth-of-type(6){display:none;}
input:nth-of-type(6)~section>div#main>.story:nth-of-type(3){display:none;}
input:nth-of-type(6)~aside>#quick_menu>.qmenu:nth-of-type(3){color:black;}
input:nth-of-type(6):checked~section>div#main>.story:nth-of-type(3){display:block;}
input:nth-of-type(6):checked~aside>#quick_menu>.qmenu:nth-of-type(3){color:red;}
