*{margin:0; padding:0;    overflow:hidden;}
body{margin:0 auto;}

img{border:0;}
header{ 
        width:100%; height:50px; 
        background-color:rgb(122, 147, 255,0.3);
		position:fixed; top:0; 
        padding: 0 30px 0 10px;font-family: 'Dokdo', cursive;
        z-index:100;
    }
header label{
    width:16%;
    height:45px;
    line-height:45px;
    border-radius: 10%;
    font-size:300%;
    text-align:center;
    float:right;
    text-overflow:ellipsis;

    color:whitesmoke;
}
#main{
    float:left;
}
label:hover{
    background-color:skyblue;
}
input:nth-of-type(1){display:none;}
input:nth-of-type(1)~.tab-item:nth-of-type(1){display:none;}
input:nth-of-type(1):checked~.tab-item:nth-of-type(1){display:block;}
input:nth-of-type(1):checked ~header>label:nth-of-type(1) {
    background-color: skyblue;
 }
 input:nth-of-type(2){display:none;}
input:nth-of-type(2)~.tab-item:nth-of-type(2){display:none;}
input:nth-of-type(2):checked~.tab-item:nth-of-type(2){display:block;}
input:nth-of-type(2):checked ~header>label:nth-of-type(5) {
    background-color: skyblue;
 }
 input:nth-of-type(3){display:none;}
input:nth-of-type(3)~.tab-item:nth-of-type(3){display:none;}
input:nth-of-type(3):checked~.tab-item:nth-of-type(3){display:block;}
input:nth-of-type(3):checked ~header>label:nth-of-type(4) {
    background-color: skyblue;
 }
 input:nth-of-type(4){display:none;}
input:nth-of-type(4)~.tab-item:nth-of-type(4){display:none;}
input:nth-of-type(4):checked~.tab-item:nth-of-type(4){display:block;}
input:nth-of-type(4):checked ~header>label:nth-of-type(3) {
    background-color: skyblue;
 }
 input:nth-of-type(5){display:none;}
input:nth-of-type(5)~.tab-item:nth-of-type(5){display:none;}
input:nth-of-type(5):checked~.tab-item:nth-of-type(5){display:block;}
input:nth-of-type(5):checked ~header>label:nth-of-type(2) {
    background-color: skyblue;
 }

footer{
    font-family: 'Dokdo', cursive;
    font-size:23px;
    color:white;
    position:fixed;
    bottom:0;
}
#title{
    position:relative;
    font-size:0px;
}
#title_image{
    position: relative;
}
#title_image>img{
    width:100%;
}
#TextField{
    position:absolute;
    top:30%;
    right:10%;
    font-size:100px;
    color:white;
}
#TextEng{
    position:relative;
    width:1000px
}
#TextKor{
    position:absolute;
    font-family: 'Nanum Brush Script', cursive;
    width:1000px;
    top:0;
    right:-5%
}
.TitleEng{

    font-family: 'Dancing Script', cursive;
    color:rgb(173, 255, 164);
}
.TitleKor{
    font-size:100px;
    color:rgb(19, 189, 0);
}
#music{
    
    position:absolute;
    background-color: antiquewhite;
    align-items:center;
    top:40%;
    color:rgb(0, 0, 0);
    text-align:center;
    left:80%;
    
}
#hello{
    width:200px;
    height:200px;
    position:absolute;
    text-align:center;
    line-height:100px;
    background-color: rgb(255, 255, 205,0.2);
    border: 2px solid;
    border-color:blue;
    border-radius:50%;
    color:yellow;
    
    top:100px;
    left:30px;
    font-size:60px;
    animation : rotation 2.5s linear infinite alternate;
}
#mainmypage{
    font-size:0px;
    text-align:center;
    width: 100%;
    height:720px;
    background-color:burlywood;
}
#friendpage{
    font-size:0px;
    text-align:center;
    width: 100%;
    height:720px;
    background-color:burlywood;
    overflow-y:auto;
}
#placepage{
    font-size:0px;
    text-align:center;
    width: 100%;
    height:720px;
    background-color:burlywood;
    overflow-y:auto;
}
#descpage{
    padding-top:50px;
    font-size:0px;
    text-align:center;
    width: 100%;
    height:720px;
    background-color:burlywood;
    overflow-y:auto;
}



#descpage img{
    width:500px;
    height:500px;
}
#descpage p{
    font-size:25px;
    display:block;
    margin-top:50px;
    margin-bottom:50px;
}

#placecontent{
    padding:50px 0 0 0;
}
#firstplaceimg{
    padding:50px 0 0 0;
}
#friendimg{
    padding:50px;
}
#myimg{
    padding:50px;
}
.content{
    font-family: 'Stylish', sans-serif;
    font-size:25px;
}

#answer{
    margin:0 auto;
    width:300px;
    height:50px;
    background-color: black;
    color:black;
    font-size:20px
}
#answer:hover{
    background-color:burlywood;
}

@keyframes rotation{
    from{transform:rotateY(0deg);}
    to{transform:rotateY(360deg);}
}

